
@keyframes RingProgress {
    0% {
        stroke-dasharray: 0 100;
    }
}

.ActivityRings {
    circle {
        transform-box: fill-box;
        transform-origin: center;
        transform: rotate(-90deg);
    }

    .ring {
        transform-origin: 50%;
    }

    .completed {
        animation: RingProgress 1s ease-in-out forwards;
        stroke-linecap: round;
    }
    circle {
        fill: none;
    }
}

.ring1 {
    scale: 1;

    .background {
        stroke: var(--math-light);
    }
    .completed {
        stroke: rgba(var(--math-dark));
    }   
}

.ring2 {
    scale: 0.75;

    .background {
        stroke: var(--iq-light);
    }
    .completed {
        stroke: rgba(var(--iq-dark));
    }
}

.ring3 {
    scale: 0.5;

    .background {
        stroke: var(--geometry-light);
    }
    .completed {
        stroke: rgba(var(--geometry-dark));
    }
}