.navbar {
    overflow-x: hidden;
    display: flex;
    background-color: #ffffff;
    flex-shrink: 0;
    flex-direction: column;
    height: 100vh;
    width: 88px;
    padding: 1.5rem 1rem 1rem 1rem;
    box-sizing: border-box;
    top: 0;
    transition: 0.2s;
    position: fixed;
    z-index: 5;

    .logo {
        width: 48px;
    }
}

.navbar:hover {
    width: 207px;
    box-shadow: 5px 0px 20px 3px rgba(0,0,0,0.05);

    .navbar-title {
        display: block;
        opacity: 1;
        width: 100%;
    }
}

.dummy {
    height: 100vh;
    width: 88px;
}

.middlesection {
    flex-grow: 1;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.topsection {
    display: flex;
    justify-content: center;
    flex-grow: 0.15;
}

.navbar-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.navbar-item {
    margin: 1rem 0;
}

.navbar-link {
    display: flex;
    border-radius: 1rem;
    text-decoration: none;
    align-items: center;
    gap: 1.25rem;
    padding: 1rem;
    transition: 0.2s;
    color: var(--grey-disabled);

    path, .navbar-title {
        transition: 0.2s;
        stroke: var(--grey-disabled);
    }
    
    &:hover {
        background-color: var(--secondery);
    
        path, .navbar-title {
            stroke: var(--primary);
            color: var(--primary);
        }
    }

    &.active {
        background-color: var(--secondery);
        
        .navbar-title {
        color: var(--primary);
        }

        path {
        stroke-width: 0;
        stroke: var(--primary);
        fill: var(--primary);
        }

        .two {
            opacity: 0.4;
        }
    }
}

.navbar-icon {
    width: 24px;
    height: 24px;
}

.navbar-title {
    font-weight: 500;
    width: 0;
    opacity: 0;
    color: var(--grey-disabled)

}

.icon-keep-stroke {
    fill: none !important;
    stroke-width: 1.4px !important;
}


@media only screen and (max-width: 750px) {
    .dummy {
        display: none;
    }

    .navbar {
        flex-shrink: 0;
        flex-direction: row;
        height: auto;
        width: 100%;
        top: auto;
        bottom: 0;
        padding: 0.5rem;
        box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.03) !important;

        &:hover {
            width: 100%;
        }
    }

    .navbar-list {
        display: flex;
    }

    .middlesection {
        flex-grow: 1;
        width: 100%;
        overflow-y: hidden;
        overflow-x: auto;
    }
    
    .topsection {
        display: none;
    }

    .bottomsection {
        display: none;
    }
    
    .navbar-list {
        display: flex;
        justify-content: space-between;
    }
    
    .navbar-item {
        margin: 0;
        width: 100px;
    }
    
    .navbar-link {
        flex-direction: column;
        gap: 0.25rem;
        padding: 0.5rem 0;
        background-color: transparent !important;
    }
    
    .navbar-title {
        width: auto;
        opacity: 1;
        text-align: center;
        font-size: 13px;
    
    }
}