.register-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 500px;
        background-color: white;
        padding: 3rem;
        border-radius: 1rem;
    }

    form {
        width: 100%;
    }
    
    label, input {
        display: block;
        width: 100%;
    }

    .form-group {
        margin: 1rem 0;
    }

    .inputs {
        margin: 2rem 0;
    }
}

.account-massage {
    text-align: center;
}