.register-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 500px;
        background-color: white;
        padding: 3rem;
        border-radius: 1rem;
    }

    form {
        width: 100%;
    }
    
    label, input {
        display: block;
        width: 100%;
    }

    .form-group {
        margin-bottom: 1rem;
    }

    // .inputs {
    //     margin: 2rem 0;
    // }
}

.account-massage {
    text-align: center;
    color: var(--grey-disabled);
}

.error {
    color: var(--incorrect-red);
    background-color: var(--incorrect-red-light);
    border: solid 1px var(--incorrect-red);
    padding: 1rem;
    margin-top: 2rem;
    width: 100%;
    border-radius: 0.5rem;
    white-space: pre-wrap;
}